<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./static/favicon.ico">
  <title>Loopr Wallet & DEX By Loopring Protocol</title>
  <meta name="keywords" content="Loopring protocol Loopr Wallet & DEX LRC" />
  <meta name="description" content="Loopring protocol Loopr Wallet & DEX LRC" />
  <script src="./mobile/mobile.js"></script>
  <link href="//cdn.bootcss.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css
" rel="stylesheet">
</head>
<body>
  <div id="root"></div>
  <script src="./trezor.js"></script>
  <script src="./bundleDemo.js"></script>
</body>
</html>
