:global{
    @fontfamily:  "DIN-Light",  PingFang-Light, sans-serif;
    html,body{
      font-family: @fontfamily !important;
      // font-family:  PingHei,"Helvetica Neue","Helvetica","Arial","Verdana","sans-serif" !important;
      // font-weight: lighter;
    }
    .ant-menu{
      font-family: @fontfamily !important;
    }
    .ant-select-dropdown{
      font-family: @fontfamily !important;
    }
    .ant-select{
      font-family: @fontfamily !important;
    }
}
