:global{
    body{
      background:rgb(248, 248, 248) !important;
    }
    .ant-layout{
      background:rgb(248, 248, 248)  !important;
    }
    .ant-layout-header{
      padding:0px !important;
      height:auto !important;
    }
		.ant-btn-primary{
			// background: #0077FF !important;
		}
		.ant-btn-lg{
			// height:64px !important;
			height:56px !important;
		}
    .ant-modal-body{
    	// padding:0px !important
    }
    .ant-modal.rs{
    	background: transparent !important;
    	.ant-modal-body{
    		padding:0px !important;
    		background: transparent !important;
    	}
    }
    .ant-input{
    	background: #f3f3f3 !important;
    	border:none !important;
    }
    .ant-input-lg{
    	height:44px !important;
    }
    .ant-popover-title{
      min-width:auto !important;
    }

    .ant-input-group-addon{
    	background: #f3f3f3 !important;
    	border:none !important;
    }
    .ant-select-selection{
    	background: #f3f3f3 !important;
    	border:none !important;
    }
    .ant-select-selection-selected-value{
      font-size:13px !important;
    }
    .ant-form label{
      font-size:13px !important;
    }
    .ant-form-item-label{
    	text-align: left !important;
    	// line-height: 100% !important;
    	// display: inline-block !important;
      // width:100% !important;
      // &>label{
      //   width:100% !important;
      //   display:block !important;
      // }
    }
    .ant-form-item.ttl{
        .ant-form-item-label{
          width:100% !important;
          &>label{
            width:100% !important;
            &:after{
              display:none !important;
            }
          }
        }
    }

    .ant-form-item{
    	vertical-align:middle !important;
    }
    .ant-form-item-control{
    	line-height: 100% !important;
    }

    .ant-input-lg{
    	// height:48px !important;
    }
    .ant-card{
			border-radius:4px !important;
    	&.token-list-card{
    		border-color:#DADADA !important;
				.ant-card-head{
					padding:0px !important;
					border-radius:6px 6px 0 0 !important;
					.ant-card-head-title{
						padding:10px 15px !important;
					}
				}
				.ant-card-body{
					padding:15px !important
				}
    	}
   }
   .ant-table-bordered table{
			border:1px solid #DADADA !important;
   }
   .ant-table-placeholder{
    border-bottom:none !important;
   }
   .ant-table-small{
   	border:none !important;
   }
   .ant-table .ant-table-thead > tr > th{
      padding:15px 8px !important;
			// &:last-child{
			// 	border-right:1px solid #eee !important;
			// }
   }
    .ant-table .ant-table-tbody > tr > td{
       padding:12px 8px !important;
       font-weight: normal;
      // &:last-child{
      //  border-right:1px solid #eee !important;
      // }
    }
   .ant-table .ant-table-tbody > tr{
			&:nth-child(2n){
				&>td{
					background: #FBFBFB !important;
				}
			}
   }


   // .ant-table-thead > tr, .ant-table-tbody > tr{
   //  height:auto !important;
   // }
	 .ant-popover{
	 		.ant-popover-inner-content{
	 			padding:0px !important;
	 		}

	 }
	 .ant-select.navbar-language,.ant-select-focused.navbar-language{
	 		.ant-select-selection{
				background: transparent !important;
				&:focus{
					border:none !important;
					outline:none !important;
					box-shadow:none !important;
				}
	 		}
	 }
	 .ant-modal{
	 	&.rs-body{
	 		.ant-modal-body{
	 			padding:0px !important
	 		}

	 	}
	 }
	 .ant-slider{
	 	.ant-slider-track{
			background:#0077FF !important;
	 	}
	 	.ant-slider-handle{
	 		border-color:#0077FF !important;
	 	}
	 	.ant-slider-dot-active{
	 		border-color:#0077FF !important;
	 	}
	 }
   .ant-badge-status-text{
      font-size:14px !important;
      margin-left: 6px !important;
   }
   .ant-badge-status-dot{
      top:0px !important;
      font-size:12px !important;
   }

	 .ant-badge.ant-badge-not-a-wrapper.ant-badge-status{
      .ant-badge-status-dot{
        // width:8px !important;
        // height:8px !important;
      }
      .ant-badge-status-dot{
        // width:8px !important;
        // height:8px !important;

      }
      .ant-badge-status-warning{
        & + .ant-badge-status-text{
          color:#faad14 !important;
        }
      }
      .ant-badge-status-success{
        & + .ant-badge-status-text{
          color:#52c41a !important;
        }
      }
      .ant-badge-status-error{
        & + .ant-badge-status-text{
          color:#f5222d !important;
        }
      }
      .ant-badge-status-processing{
        & + .ant-badge-status-text{
          color:#1890ff !important;
        }
      }

      .ant-badge-status-default{
        & + .ant-badge-status-text{
          color:#ccc !important;
        }
      }
   }
    .ant-alert{
      &.ant-alert-error{
        .ant-alert-message{color:#f5222d !important}
        .ant-alert-description{color:#f5222d !important}
      }
    }
   .ant-tabs-top{
    .ant-tabs-ink-bar{
      height:2px !important
    }
   }
   .ant-tabs{
    .ant-tabs-nav .ant-tabs-tab{
      margin-right:0px !important;
    }
    &.rs{
      .ant-tabs-bar{
        margin-bottom:0px !important;
        border-bottom:0px !important;
      }
      .ant-tabs-nav .ant-tabs-tab .anticon{
        margin-right:0px !important;
      }
      .ant-tabs-nav .ant-tabs-tab{
        margin-right:0px !important;
        padding:0px !important;
      }
      &.no-ink-bar{
        .ant-tabs-ink-bar{
          display: none !important;
        }
      }
    }
   }

   .ant-tabs.layout-nobar{
    .ant-tabs-bar{
      border-bottom:none !important;
    }
    .ant-tabs-ink-bar{
      display: none !important;
    }
   }
   .ant-tabs.layout-center{
    text-align: center !important;
   }
   .ant-tabs.layout-col{
      .ant-tabs-nav{
       width:100% !important;
       display: flex !important;
       text-align: center !important;
       &>.ant-tabs-tab{
         -ms-flex-preferred-size:0;
         flex-basis: 0;
         -webkit-box-flex: 1;
         -ms-flex-positive: 1;
         flex-grow: 1;
         max-width: 100%;
       }
      }
   }
   .ant-tabs.layout-col-auto{
      .ant-tabs-nav{
       width:100% !important;
       display: flex !important;
       text-align: center !important;
       &>.ant-tabs-tab{
         -webkit-box-flex: 0;
         -ms-flex: 0 0 auto;
         flex: 0 0 auto;
         width: auto;
         max-width: none;
       }
      }
   }
   .ant-tabs-nav .ant-tabs-tab-active{
    font-weight: 600 !important;
   }
   .ant-progress-circle .ant-progress-text{
      transform: scale(0.7) !important;
      margin-top: -6px !important;
   }
   .ant-badge.ant-badge-status{
    &.fs12{
      .ant-badge-status-text{
        font-size:12px !important;
      }
    }
   }
   .ant-progress-status-success .ant-progress-circle-path{
      stroke: #1890ff !important;
   }
   .ant-progress-circle.ant-progress-status-success .ant-progress-text{
      color: #1890ff !important;
   }
   .ant-progress-circle-trail{
      stroke:#eee !important;
   }

   .navbar-loopring{
      * {
        color:rgba(0,0,0,0.85) !important;
      }
      .ant-menu{
        color:rgba(0,0,0,0.85) !important;
      }

      .ant-select-dropdown{
        color:rgba(0,0,0,0.85) !important;
      }
      .ant-select{
        color:rgba(0,0,0,0.85) !important;
      }
   }
   .ant-tabs{
     color:rgba(0,0,0,0.85) !important;
   }
   .ant-form-item-label label{
      color:rgba(0,0,0,0.65) !important;
   }
  .ant-table .ant-table-thead > tr > th{
    color:rgba(0,0,0,0.65) !important;
    background:#fff !important;
    font-size:14px;
  }
  .ant-table .ant-table-tbody > tr > td{
    border-right:none !important;
    border-bottom:none;
    color:rgba(0,0,0,0.85) !important;
    font-size:14px;
  }


}
